html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    display: inline-block;
    text-decoration: none;
    color: $text;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: "Roboto-Regular", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: $text;
    font-weight: 400;
}
.container {
    max-width: 1200px; //ширина блока 1170 добавили по 15 с каждой стороны
    margin: 0 auto; // для центрирования блока
    padding: 0 15px;
}